/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tigerpistol-primary-palette: (
  50: #fff9e0,
  100: #ffefb3,
  200: #ffe580,
  300: #ffdb4d,
  400: #ffd326,
  500: #ffcb00,
  600: #ffc600,
  700: #ffbe00,
  800: #ffb800,
  900: #ffac00,
  A100: #ffffff,
  A200: #fffaf2,
  A400: #ffe8bf,
  A700: #ffdea6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/* Colors Section */
$tigerpistol-primary: mat.define-palette($tigerpistol-primary-palette);
$tigerpistol-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$tigerpistol-warn: mat.define-palette(mat.$red-palette);

/* Typography Section */
$thryveads-typography: mat.define-typography-config(
  $font-family: "BR Firma",
  $headline: mat.define-typography-level(28px, 44px, 600, "BR Firma", normal),
  $title: mat.define-typography-level(24px, 32px, 600, "BR Firma", normal),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tigerpistol-theme: mat.define-light-theme(
  (
    color: (
      primary: $tigerpistol-primary,
      accent: $tigerpistol-accent,
      warn: $tigerpistol-warn,
    ),
    typography: $thryveads-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tigerpistol-theme);
@include mat.all-component-typographies($tigerpistol-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
